

#card-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

#card-container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

#card-container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  filter: grayscale(100%);
  /* filter: blur(1px); */
}

#card-container .card:hover .content {
  transform: translateY(-20px);
  filter: grayscale(0%);
}

#card-container .card .content .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

#card-container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#card-container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

#card-container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

#card-container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

#card-container .card .sci li {
  list-style: none;
  margin: 0;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}

#card-container .card:hover .sci li {
  transform: translateY(-250px);
  opacity: 1;
}

#card-container .card .sci li a {
  color: #fff;
  font-size: 20px;
}


/* Versi 2 */


/*
 * Preparing stage
*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }
#g-c {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
/*
 * Start
*/
.glassBox {
    width: 100%;
    height: 400px;
    max-width: 300px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .glassBox, .glassBox * {
    box-sizing: border-box;
    transition: 400ms;
  }
  .glassBox__imgBox img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
  }
  .glassBox__title {
    text-align: center;
    margin-top: 15px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato";
  }
  .glassBox__content {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: 0.1em;
    opacity: 0;
  }
  .glassBox:hover .glassBox__imgBox {
    transform: translateY(-50px);
  }
  .glassBox:hover .glassBox__imgBox img {
    transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
    -webkit-filter: drop-shadow(5px 5px 5px #4d4c4c);
    filter: drop-shadow(0px 8px 5px #4d4c4c);
    filter: grayscale(0%);
  }